@charset "utf-8";
/* ヘッダー */
body {
  max-width: 1980px;
  background-color: #e8d9bf;
  overflow-x: hidden;
  padding: 0 10px;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
     /* 上下どちらか＋左右どちらかでいい */ 
  top: 0;
  left: 0;
  width: 100%;
  /* パディングを含めた横幅にできる↓ */
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
 display: flex;
 gap: 55px;
}

.pc_nav ul li {
 width: 105px;
 color: #fff;
 font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
 "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
 font-size: 18px;
 font-weight: bold;
 text-align: center;
}

/* コンテンツ幅を指定 */
.section_area {
  width: 1000px;
  margin: 0 auto;
  /* background-color: aliceblue; */
}

/* 最初のセクション */
.first_section {
  /* background-color: lightblue; */
  padding: 11% 0 10%;
  text-align: center;
}

.english_text {
  font-size: 30px;
  margin-bottom: 5%;
}

.main_text {
  font-size: 82px;
  margin-bottom: 4%;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.sub_text {
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

/* ABOUTセクション pxから％に変換したら幅が変わってしまいました。about_left imgの幅をコンテンツ幅に対して50％にしたいのですが、そうするとさらに画像が縮小してしまいます。autoを付けても動かなかったので、考え方のヒントを教えて頂きたいです。。*/
.about {
  display: flex;
  margin-bottom: 10%;
  background-color: pink;
}

.about .about_left img {
  border-radius: 0 0  40px 0;
  width: 500px;
  height: auto;
}


.about .about_right {
padding-left: 8%;
/* background-color:lightsalmon; */
}

.about h2 {
  width: 272px;
  margin: 6% 0 5% 0;
  /* background-color: #e8d9bf; */
} 


.section_title {
  font-size: 44px;
  line-height: 1.386;
  margin-bottom: 2%;
  /* background-color: aquamarine; */
}


.section_title p {
  line-height: 1.625;
}

.article_area {
  display: flex;
  justify-content: space-between;
  /* background-color: lightblue; */
}


/* MENUセクション */
.menu {
  margin-bottom: 8%;
  /* background-color: lightcoral; */
}

.menu h2{
  width: 151px;
  margin: 0 auto 4%;
}

.menu h3 {
  font-size: 38px;
  font-weight: normal;
  color:#d30202;
}

.first_article {
  /* background-color: lightgoldenrodyellow; */
  width: 30%;
  position: relative;
}

.first_article img {
  border-radius: 0 40px 0 0;
  width: 500px;
}

.first_article h3 {
  position: absolute;
  bottom: 95px;
  left: 13px;
}

.first_article p {
  font-size: 17px;
  line-height: 1.471;
  margin-top: 45px;
}

/* GALLERYセクション */
.gallery {
  margin-bottom: 6%;
  /* background-color: lightcoral; */
}

.gallery h2{
  width: 245px;
  margin: 0 auto 1%;
}

.gallery_area {
  display: flex;
  margin: 0 calc(50% - 50vw);
	width: 100vw;
}

.gallery_area img {
  width: 20%;
}

/* EVENTセクション */
.event {
  margin-bottom: 7%;
  /* background-color: lightcoral; */
}

.event h2 {
  width: 174px;
  margin: 0 auto 30px;
}

/* EVENTのお知らせエリア */
.event .date{
  font-size: 23px;
  background-color: #fff;
  border: solid 4px #4f260B;
  /* 中央揃えのautoが効かず、パディングの値を取って%に変換してます↓ */
  padding: 4% 0 4% 16% ;
}

.date .date_list {
  display: flex;
  margin-bottom: 2%;
}

.date .date_list dt,
.date .date_list dd {
  /* background-color: aquamarine; */
}

.date .date_list dt{
  padding-right: 4%;
}


/* 最後の.date_list(コーヒー～の行)のmargin-bottomを消したくて、以下色々試してみたのですが消えませんでした。。考え方のヒントを教えて頂きたいです。 */

/* .date .date_list dt :last-child {
  margin-bottom: 0;
}

.date .date_list dd :last-child {
  margin-bottom: 0;
} 

.date .date_list dt :last-child {
  margin-bottom: 0px;
}

.date .date_list dd :last-child {
  margin-bottom: 0px;
}

.date.date_list:last-child{
  margin-bottom: 0;
} 

.date .date_list dt,
.date .date_list dd:nth-last-child{
  color: red;
}  */



/* ACCESSエリア */
.access {
  /* background-color: lightcoral; */
}

.access h2 {
  width: 214px;
  margin: 0 auto 38px;
}

iframe {
  height: 471px;
  margin: 0 calc(50% - 50vw);
	width: 100vw;
  display: block;
  filter: grayscale(100%);
}

/* フッター */
footer {
  padding: 76px 0 78px;
  background-color:#fff;
}

/* DESIGN　CAFEの画像とaddressのテキストを.address_areaの上揃えにしたいのですが、画像の上下に余白が出来ていて揃えることが出来ませんでした。調べると”画像はデフォルトでdisplay: inline;となっており、インライン要素は行のベースラインに揃えられるため、その周囲に余白が生じることがあります”と出てきて、vertical-align: bottom;をつけたりmargin:0;にしたり試しましたが、動かなかったため、アドバイスを頂きたいです…！↓ */
footer img {
  width: 227px;
  object-fit: contain;
  margin-right: 62px;
  background-color: aliceblue;
}

footer .address_area {
  display: flex;
  justify-content: center;
  margin-bottom: 8%;
  background-color: yellow;
}

address {
  color: black;
  font-style: normal;
  line-height: 1.95;
  font-size: 20px;
  /* background-color: #d30202; */
}

footer .footer_address {
  margin-left: 6%;
}

footer .copyright {
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: normal;
}