@charset "utf-8";
/* ヘッダー */
body {
  max-width: 1980px;
  background-color: #e8d9bf;
  overflow-x: hidden;
  padding: 0 10px;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
     /* 上下どちらか＋左右どちらかでいい */ 
  top: 0;
  left: 0;
  width: 100%;
  /* パディングを含めた横幅にできる↓ */
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
 display: flex;
 gap: 55px;
}

.pc_nav ul li {
 width: 105px;
 color: #fff;
 font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
 "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
 font-size: 18px;
 font-weight: bold;
 text-align: center;
}

/* コンテンツ幅を指定 */
.section_area {
  width: 1000px;
  margin: 0 auto;
  /* background-color: aliceblue; */
}

/* 最初のセクション */
.first_section {
  /* background-color: lightblue; */
  padding: 108px 0 96px;
  text-align: center;
}

.english_text {
  font-size: 30px;
  margin-bottom: 54px;
}

.main_text {
  font-size: 82px;
  margin-bottom: 40px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.sub_text {
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

/* ABOUTセクション */
.about {
  display: flex;
  margin-bottom: 95px;
  /* background-color: pink; */
}

.about img {
  border-radius: 0 0  40px 0;
  width: 500px;
}


.about .about_right {
padding-left: 80px;
/* background-color:lightsalmon; */
}

.about h2 {
  width: 272px;
  margin: 60px 0 48px 0;
  /* background-color: #e8d9bf; */
} 


.section_title {
  font-size: 44px;
  line-height: 1.386;
  margin-bottom: 20px;
  /* background-color: aquamarine; */
}

/* ここのpタグのテキストがイラレ上のテキストと同じ改行にならないです、、 */
.section_title p {
  line-height: 1.625;
}

.article_area {
  display: flex;
  justify-content: space-between;
  /* background-color: lightblue; */
}


/* MENUセクション */
.menu {
  margin-bottom: 82px;
  /* background-color: lightcoral; */
}

.menu h2{
  width: 151px;
  margin: 0 auto 37px;
}

.menu h3 {
  font-size: 38px;
  font-weight: normal;
  color:#d30202;
}

.first_article {
  /* background-color: lightgoldenrodyellow; */
  width: 30%;
  position: relative;
}

.first_article img {
  border-radius: 0 42px 0 0;
  width: 500px;
}

.first_article h3 {
  position: absolute;
  bottom: 95px;
  left: 13px;
}

.first_article p {
  font-size: 17px;
  line-height: 1.471;
  margin-top: 45px;
}

/* GALLERYセクション */
.gallery {
  margin-bottom: 63px;
  /* background-color: lightcoral; */
}

.gallery h2{
  width: 245px;
margin: 0 auto 14px;
}

.gallery_area {
  display: flex;
  margin: 0 calc(50% - 50vw);
	width: 100vw;
}

.gallery_area img {
  width: 20%;
}

/* EVENTセクション */
.event {
  margin-bottom: 68px;
  /* background-color: lightcoral; */
}

.event h2 {
  width: 174px;
  margin: 0 auto 30px;
}

/* EVENTのお知らせエリア */
.event .date{
  font-size: 23px;
  background-color: #fff;
  border: solid 4px #4f260B;
  /* 中央揃えのautoが効かず、無理やりパディング取ってます。。 */
  padding: 40px 0 40px 160px ;
}

.date .date_list {
  display: flex;
  margin-bottom: 21px;
}

.date .date_list dt,
.date .date_list dd {
  /* background-color: aquamarine; */
}

.date .date_list dt{
  padding-right: 40px;
}


/* 最後の.date_list(コーヒー～の行)のmargin-bottomを消したくて、以下色々試してみたのですが消えません。。。 */

/* .date .date_list dt :last-child {
  margin-bottom: 0;
}

.date .date_list dd :last-child {
  margin-bottom: 0;
} 

.date .date_list dt :last-child {
  margin-bottom: 0px;
}

.date .date_list dd :last-child {
  margin-bottom: 0px;
}

.date.date_list:last-child{
  margin-bottom: 0;
} 

.date .date_list dt,
.date .date_list dd:nth-last-child{
  color: red;
}  */



/* ACCESSエリア */
.access {
  /* background-color: lightcoral; */
}

.access h2 {
  width: 214px;
  margin: 0 auto 38px;
}

iframe {
  height: 471px;
  margin: 0 calc(50% - 50vw);
	width: 100vw;
  display: block;
  filter: grayscale(100%);
}

/* フッター */
footer {
  padding: 76px 0 78px;
  background-color:#fff;
}

footer img {
  width: 227px;
  margin-right: 62px;
}

footer .address_area {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;
  /* background-color: yellow; */
}

address {
  font-style: normal;
}

/* line-heightが効かなくて行間詰まってます。。 */
footer .footer_address {
  color: black;
  display: block;
  font-size: 20px;
  line-height: 1.95;
  margin-left: 62px;
}

footer .copyright {
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: normal;
}